html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

section {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/*--------------------------------------------------------------
  Circe Fonts:
  --------------------------------------------------------------*/

  circe-regular {
    font-family: circe, sans-serif;
    font-weight: 400;
    font-style: normal;
}

circe-bold {
  font-family: circe-rounded, sans-serif;
  font-weight: 800;
  font-style: normal;
}

circe-light {
  font-family: circe-light, sans-serif;
  font-weight: 800;
  font-style: normal;
}


circe-extra-bold {
font-family: circe, sans-serif;
font-weight: 800;
font-style: normal;
}
/*--------------------------------------------------------------
  Default headlines:
 --------------------------------------------------------------*/
h1 {
  font-size: 90px;
  text-align: center;
  margin: 0;
  top: -100px;
}

h2 {
  padding: 0;
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.logoCon{
  font-family: circe, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.logoCoin{
  font-family: circe, sans-serif;
  font-weight: 300;
  font-style: normal;
}
/*--------------------------------------------------------------
  Home Section:
  --------------------------------------------------------------*/

#home {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  overflow: hidden;
  display: none;
}

#home .card {
  text-align: center;
  justify-content: center;
  width: 100%;
}

#home .card img {
  height: auto;
  width: 100%;
}

#home .card .caption {
  padding: 1em;
  font-size: 90%;
  color: black;
}

#home .card .caption-title {
  margin: 0;
  font-size: 6vmin;
  line-height: 1em;
}

#home .card .caption p {
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 1.3em;
  font-size: 4vmin;
}
/*--------------------------------------------------------------
  general Section:
  --------------------------------------------------------------*/
  #general {
    width: 100%;
    height: 100vh;
  
    display: flex;

    flex-direction: column;
    justify-content: center;
    background-color: rgb(211, 211, 211);
  }
  
  #general .card {
    text-align: center;    
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    height: 100%;
  }
  
  #general .card img {
    height: auto;
    width: 70%;
    margin: 0 auto 0 auto;
  }
  
  #general .card .caption {
    padding: 1em;
    font-size: 90%;
    color: black;
  }
  
  #general .card .caption-title {
    margin: 0;
    font-size: 6vmin;
    line-height: 1em;
  }
  
  #general .card .caption p {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.3em;
    font-size: 4vmin;
  }

  /*--------------------------------------------------------------
  Wallet Section:
  --------------------------------------------------------------*/
  #wallet {
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
  }
  
  #wallet .card {
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }
  
  #wallet .card img {
    height: auto;
    width: 80%;
    margin: 0 auto 0 auto;
  }
  
  #wallet .card .caption {
    padding: 1em;
    font-size: 90%;
    color: black;
  }
  
  #wallet .card .caption-title {
    margin: 0;
    font-size: 6vmin;
    line-height: 1em;
  }
  
  #wallet .card .caption p {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.3em;
    font-size: 4vmin;
  }
  
  /*--------------------------------------------------------------
  XYZ Section:
  --------------------------------------------------------------*/
  #hardwallet {
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-color:rgb(211, 211, 211) ;
  }
  
  #hardwallet .card {
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    height: 100%;
  }
  
  #hardwallet .card img {
    height: auto;
    width: 90%;
    margin: 0 auto 0 auto;
  }
  
  #hardwallet .card .caption {
    padding: 1em;
    font-size: 90%;
    color: black;
  }
  
  #hardwallet .card .caption-title {
    margin: 0;
    font-size: 6vmin;
    line-height: 1em;
  }
  
  #hardwallet .card .caption p {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.3em;
    font-size: 4vmin;
  }

  /*--------------------------------------------------------------
  temp Section:
  --------------------------------------------------------------*/
  #temp {
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-color:rgb(255, 255, 255);
  }
  
  #temp .card {
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }
  
  #temp .card img {
    height: auto;
    width: 100%;
    margin: 0 auto 0 auto;
  }
  
  #temp .card .caption {
    padding: 1em;
    font-size: 90%;
    color: black;
  }
  
  #temp .card .caption-title {
    margin: 0;
    font-size: 6vmin;
    line-height: 1em;
  }
  
  #temp .card .caption p {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.3em;
    font-size: 4vmin;
  }
/*--------------------------------------------------------------
  Media querrys
  --------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 700px) {
    #home{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    #home .card img {
      height: 50vh;
      width: auto;
      margin: 0 auto 0;
    }
    #general .card img {
      height: 50vh;
      width: auto;
      margin: 0 auto 0;
    }
    #wallet .card img {
      height: 50vh;
      width: auto;
      margin: 0 auto 0;
    }
    #hardwallet .card img {
      height: auto;
      width: 60%;
      margin: 0 auto 0;
    }
    #temp .card img {
      height: 50vh;
      width: auto;
      margin: 0 auto 0;
    }
  }

  @media screen and (min-width: 1200px) {
    #home .card .caption {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    #home .card {
      margin: 0.5em;
      display: grid;
      overflow: hidden;
      width: 100%;
    }
    #home .card img {
      height: 90%;
      width: auto;
      margin: auto;
    }
    #general .card .caption {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    #general .card {
      margin: 0.5em;
      display: grid;
      grid-template-columns: auto 50%;
      overflow: hidden;
      width: 100%;
      height: auto;
    }
    #general .card img {
      height: 90%;
      width: auto;
      margin: auto;
    }
    #wallet .card .caption {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    #wallet .card {
      margin: 0.5em;
      display: grid;
      grid-template-columns: auto 50%;
      overflow: hidden;
      width: 100%;
      height: auto;
    }
    #wallet .card img {
      height: 90%;
      width: auto;
      margin: auto;
    }
    #hardwallet .card .caption {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    #hardwallet .card {
      margin: 0.5em;
      display: grid;
      grid-template-columns: auto 50%;
      overflow: hidden;
      width: 100%;
      height: auto;
    }
    #hardwallet .card img {
      height: auto;
      width: auto;
      margin: auto;
    }
    #temp .card .caption {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    #temp .card {
      margin: 0.5em;
      display: grid;
      grid-template-columns: auto 50%;
      overflow: hidden;
      width: 100%;
      height: auto;
    }
    #temp .card img {
      height: 90%;
      width: auto;
      margin: auto;
    }
  }
}


.wrap{
  font-family: circe-rounded, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wrap .con{
  color: #4570b5;
  font-family: circe-rounded, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.wrap .coin{
  color: #4570b5;
  font-family: circe-light, sans-serif;
  font-weight: 800;
  font-style: normal;
}


.logoCon{
  font-family: circe-rounded, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.logoCoin{
  font-family: circe-light, sans-serif;
  font-style: normal;
}